body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #6c4c02; 
    color: #8b4513; 
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.members ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.members ul li {
    display: inline-block;
    margin: 0 10px;
}
