/* common.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #6c4c02;
}

img {
    width: 100%;
    display: block;
    max-width: 100%;
}

.main-wrapper {
    background-color: #6c4c02;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 0 16px;
}

.main-title {
    text-align: center;
}

.main-title h1 {
    padding: 16px 0;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.add-btn {
    margin: 16px 0;
    text-transform: uppercase;
    border: none;
    background-color: #202020;
    color: #fff;
    font-family: inherit;
    padding: 10px 28px;
    border: 1px solid #202020;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: block;
}

.add-btn:hover {
    background-color: #fff;
    color: #202020;
}
