
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img{
    width: 20%;
    display: block;
}
.main-wrapper{
    background-color: #8b4513;
    min-height: 100vh;
    overflow-x: 0;
}
.container {
    max-width: 100%; 
    margin: 0 auto;
    padding: 0 16px;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #8b4513;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 0.5rem;
    padding-right: 10%;
}

.navbar li {
    margin: 0 0.5rem;
}

.navbar a {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.navbar a:hover, .navbar .store-stay-active {
    background: black;
    border-radius: 5rem;
    transition: background 0.5s;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 100px;
}

.menu-icon {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.menu-icon img {
    object-fit: cover;
    object-position: center;
}

.display-style-btns{
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #fff;
    padding: 16px 0;
    border-radius: 5px;
}
.display-style-btns button{
    border: none;
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    margin: 0 8px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.display-style-btns button:hover{ /*gird button*/
    color: #aa6812;
}
.active-btn{ /*list button*/
    color: #aa6812;
}

.item-list{
    margin: 36px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 32px;
}

.item{
    background-color: #6c4c02;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(15, 4, 4, 0.05);
    transition: all 0.2s ease-out;
}
.item:hover{
    box-shadow: 0 0 10px 1px rgba(0, 4, 4, 0.15);
}
.item-img{
    position: relative;
    overflow: hidden;
}

.item-img img {
    width: 100%; /* Ensure images take up full width of their container */
    height: auto; /* Maintain aspect ratio */
    display: block;
    max-width: 100%; /* Prevent images from exceeding their container's width */
}


.icon-list{
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}
.icon-list button{
    border: none;
    background-color: #202020;
    color: #fff;
    margin: 0 6px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.icon-list button:hover{
    background-color: #f4f4f4;
    color: #202020;
}
.item-img:hover .icon-list{
    bottom: 26px;
}
.item-detail{
    padding: 16px;
    color: #ffffff;
    text-align: center;
}
.item-name{
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    display: block;
}
.item-price{
    margin: 10px 0;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-detail p{
    font-weight: 300;
    opacity: 0.9;
    font-size: 15px;
    line-height: 1.7;
    display: none;
}
.add-btn{
    margin: 16px 0;
    text-transform: uppercase;
    border: none;
    background-color: #202020;
    color: #fff;
    font-family: inherit;
    padding: 10px 28px;
    border: 1px solid #202020;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: none;
}
.add-btn:hover{
    background-color: #fff;
    color: #202020;
}
.logo {
  width: 100px;
  cursor: pointer;
}
.details-active.item-list{
    grid-template-columns: 100%;
}
.details-active .item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.details-active .item-detail{
    text-align: left;
}
.details-active .item-price{
    justify-content: flex-start;
}
.details-active .item-detail p{
    display: block;
}
.details-active .item-detail .add-btn{
    display: block;
}

body {
    margin-top: 100px;
}


@media screen and (min-width: 678px){
    .item-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
}

@media screen and (min-width: 768px){
    .item-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px){
    .details-active .item {
        grid-template-columns: 100%;
    }
}
