@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8b4513; 
    color: #8b4513; 
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #8b4513;
    box-shadow: 0 8px 11px rgb(14 55 54 / 15%);
    padding: 20px 100px;
    transition: 0.5s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    column-gap: 0.5rem;
    padding-right: 10%;
}

.navbar li {
    margin: 0 0.5rem;
}

.navbar a {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

body {
    margin-top: 160px;
}

.navbar a:hover, .navbar .about-stay-active {
    background: black;
    border-radius: 5rem;
    transition: background 0.5s;
}

.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    width: 115px;
}

.menu-icon {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
    width: 60px;
    height: 60px;
}

.menu-icon img {
    object-fit: cover;
    object-position: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.members {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.team-member {
    text-align: center;
    flex: 1;
}

.team-member img {
    width: 100%;
    max-width: 230px;
    height: 230px;
    object-fit: cover;
    display: block; 
    margin: 0 auto; 
    border-radius: 50%;
    margin-bottom: 10px; 
}


